@use "sass:color";
@use "../utilitaires/variables";

.cacher{
    display: none;
}

.erreur{
    color: red;
}

  
.hors-ecran{
    position: absolute; /* Position absolue pour l'enlver du "flow" commun du document */
    width: 1px; /* 1px de large parce que zéro l'enlève de l'arbre d'accessibilité */
    height: 1px; /* 1px de haut parce que zéro l'enlève de l'arbre d'accessibilité */
    padding: 0; /* Aucun padding pour éviter que l'élément soit visible malgré sa largeur et son hauteur */
    margin: -1px; /* Marge négative de 1px pour annuler le 1px de haut et de large */
    overflow: hidden; /* Le contenu de l'élément doit ne pas dépasser du modèle de boîte (box model) pour qu'il reste invisible */
    clip-path: inset(50%); /* Un masque clip-path qui force encore plus l'invisibilité de l'élément */
    white-space: nowrap; /* Empêche les bris de ligne pour éviter que le texte de l'élément ne pousse d'autre contenu */
    border-width: 0; /* On annule aussi les bordures */
}

