@use "sass:color";
@use "../utilitaires/variables";

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.bouton {
  background-color: variables.$vert;
  border-radius: 8px;
  border: none;
  color: variables.$blanc;
  padding: .8em 1em;
  text-decoration: none;
  font-family: 'Kaisei Opti';
  font-size: 18px;
  text-transform: uppercase;

  // :hover{
  //   background-color: white;
  //   border: 2px solid variables.$vert;
  // }
}

.bouton:hover{
  background-color: white;
  border: 2px solid variables.$vert;
  color: variables.$vert;
}

input[type=radio] + label{
  color: variables.$vert;
  font-family: 'Kaisei Opti';
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 2em;
}


input[type=radio]:checked + label {
    border-bottom: 2px solid variables.$vert;
    padding-bottom: .5em;
}

