@use "sass:color";
@use "../utilitaires/variables";

// STYLE LES ÉLÉMENTS DANS LE FORMULAIRE

// Cadre du formulaire
.formulaire {
    border: solid 3px variables.$vert;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
    padding: .5em;

    @media(min-width: variables.$desktop) {
        padding: 2em;
    }
}

fieldset {
    border-style: none;
    max-width: 600px;
    margin: 0 auto;
}

// Titres des étapes
legend {
    text-align: left;
}

.etape3 legend {
    margin-bottom: 1em;
}

.etape1 {
    text-align: center;
}

// Champs liste déroulante
.etape2 select {
    border: solid 1px variables.$vert;
    border-radius: 10px;
    padding: .8em;
    margin-bottom: 2em;
    max-width: 175px;

    @media(min-width: variables.$desktop) {
        margin-left: 2em;
        max-width: 230px;
    }
}

// Champs des étapes
.etape2 input,
.etape3 input,
.montantPerso input {
    border: solid 1px variables.$vert;
    border-radius: 10px;
    padding: .8em;
}

.etape2 span,
.etape3 span {
    margin-bottom: 2em;
}

.etape2 label,
.etape3 label,
.montantPerso label {
    color: variables.$brun;
    font-family: variables.$texte;
    font-size: 18px;
    margin-bottom: .2em;
}

// Abonenment infolettre
.etape1__infolettre {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2em;

    &__texte {
        margin-left: 0.5em;
        margin-top: 0.2em;
        font-family: variables.$texte;
        font-size: 16px;
    }
}

// aligner les champs
fieldset.etape2 label,
fieldset.etape2 input,
fieldset.etape2 span.erreur,
fieldset.etape3 label,
fieldset.etape3 input,
fieldset.etape3 span.erreur {
    display: block;

    @media(min-width: variables.$desktop) {
        margin-left: 2em;
    }

}

// résumé du don
h3 {
    font-size: 24px;
}

.resume {
    margin-left: 2em;
    margin-bottom: 3em;
}

// Longueurs des champs
.etape2 {

    &__email,
    &__adresse {
        width: 100%;
        max-width: 275px;

        @media(min-width: variables.$desktop) {
            max-width: 500px;
        }
    }
}

.etape2 {

    &__nom,
    &__prenom,
    &__nomEntreprise,
    &__tel,
    &__ville {
        width: 100%;
        max-width: 150px;

        @media(min-width: variables.$desktop) {
            max-width: 200px;
        }
    }
}

.etape3 {

    &__cc,
    &__titulaire {
        width: 100%;
        max-width: 150px;

        @media(min-width: variables.$desktop) {
            max-width: 200px;
        }
    }
}

.etape1__montantPersonnalise,
.etape1__postalcode,
.etape1_appbureau,
.etape3__securitycode {
    width: 100%;
    max-width: 75px;
}

// Confirmation du don
.confirmation {
    text-align: center;
    font-family: variables.$titre;
    font-weight: bold;
    color: variables.$brun;
    font-size: 24px;
}