@use "sass:color";
@use "../utilitaires/variables";

// ol::marker{
//     color: red;
// }

h1{
    text-align: center;
}

.entete {
  background-color: variables.$lime;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  
  img{
    max-width: 150px;
    padding: 1em;

    @media(min-width: variables.$desktop){
      max-width: 600px;
      margin: 0 auto;
      padding: 3em;
    }
  }
  
}

.icones {
  background-color: variables.$brun;
  padding: 1em;
  display: flex; 
  gap: 1em; 

  @media (min-width: variables.$desktop) {
    flex-direction: column;
    justify-content: space-between;
    gap: 2em; 
    position: absolute;
    top: 0;
    right: 20%;
  }
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style-type: none;

    @media (min-width: variables.$desktop) {
        flex-direction: row;
        justify-content: space-around;
        max-width: 600px;
        margin: 1em auto;
  }
}

a{
    font-family: variables.$titre;
    font-size: 24px;
    color: variables.$brun;
    text-decoration: none;
}
.etatCourant {
    color: variables.$brun;
    // background-color: variables.$vert;
    // border-radius: 10 px;
}

.etatCourant a{
    color: variables.$vert;
    text-decoration: underline;
}

.navigation li .step {
  padding: .5em .8em;
  font-size: 20px;
  color: variables.$brun;
  background-color: variables.$lime;
  border-radius: 50px;
}

/* Étape courante (li avec aria-current) */
.navigation li[aria-current="page"] .step {
  background-color: variables.$vert;
  color: variables.$lime;
}
