@use "sass:color";

/** Polices de caractères **/

@font-face {
  font-family: Kaisei Opti, sans-serif;
  src: 	url('../fonts/Kaisei_Opti/KaiseiOpti-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Jomolhari, sans-serif;
  src: 	url('../fonts/Jomolhari/Jomolhari-Regular.ttf') format('truetype');
}

// $titre : Kaisei Opti, sans-serif;
$titre : Optima, sans-serif;

$texte : Jomolhari, sans-serif;

/* Couleurs de base */
$lime: #E9F5AF;
$vert: #A49E3B;
$orange: #FF6A0E;
$brun: #6B2D08;
$rouge: #FF0000;
$noir: #000;
$blanc: #FFF;

/** Points de rupture **/
$desktop : 601px;